<div class="header">
</div>
<div class="startdiv">
	<div class="helptext border border-radius">
		<h2>Welcome to Pinion Wars</h2>
		<p>
			Pinion Wars is all about being fast
			<br />
			You got 60 seconds to kill as many minions as you can
			<br />
			but everytime you kill a minion more will join
		</p>
		<h2>TODO:</h2>
		<p>
			extra score if you hit multiple minions after another
		</p>
	</div>
	<div class="scoreboard border border-radius">
		"some score"
	</div>
	<div class="startgame border border-radius">
		<input type="text" class="startinput border-radius border" value="Playername">
		<button class="startbutton border-radius" type="button">Start</button>
	</div>
</div>