// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #141414;
  color: #ababab;
  font-family: arial;
  font-size: 11px;
}
.border {
  border: 1px solid #333;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.header {
  margin: 20px auto;
  width: 450px;
  min-height: 50px;
  background: transparent url("header.png") center top no-repeat;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.container h1 {
  margin: 20px auto 20px auto;
  text-align: center;
  font-size: 50px;
}
.startdiv {
  margin: 0 auto;
  width: 800px;
  position: relative;
  min-height: 450px;
}
.helptext {
  margin-right: 16px;
  padding: 10px;
  float: left;
  width: 370px;
  text-align: right;
  min-height: 250px;
}
.scoreboard {
  padding: 10px;
  float: left;
  width: 370px;
  min-height: 250px;
}
.startgame {
  margin-top: 20px;
  padding: 10px;
  float: left;
  width: 780px;
}
.gamediv {
  margin: 0 auto;
  width: 800px;
  padding: 5px;
  position: relative;
  min-height: 450px;
  cursor: crosshair;
}
.startinput {
  width: 600px;
  padding: 5px 10px 5px 5px;
  background-color: #141414;
  color: #ababab;
  margin-right: 40px;
}
.startbutton {
  width: 80px;
  padding: 3px;
  background-color: #141414;
  color: #007a02;
}
